/* 요소를 보이지 않게 숨기기 */
.hidden {
  display: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
li,
input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d3436;
  color: #ecf0f1;
  padding: 1%;
}

.full-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  animation: bgFadeIn 0.5s linear;
  opacity: 0.6;
}

.full-background img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 58.5625rem;
}

@media screen and (max-width: 768px) {
  .full-background img {
    width: auto;
  }
}

#contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#todo {
  display: block;
}

#todo-list-btn {
  background: transparent;
  border: 0;
  outline: 0;
  color: #ecf0f1;
  font-size: 35px;
  cursor: pointer;
}

#todo-span {
  font-size: 30px;
}

#modal-todo-list {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 500px;
  /* animation: slide_down 0.5s ease-out; */
}

#todo-form input {
  width: 300px;
  margin-bottom: 0.5rem;
  transform: translateY(9px);
  /* animation: fadeIn 1s linear; */
}

#todo-list {
  list-style: none;
  padding-left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-bottom: 7px;
  height: 445px;
  width: 300px;
  text-align: center;
  transform: translate(3px, 13px);
  /* animation: slide_down2 0.6s ease-out; */
}

#todo-list li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 0.5rem;
  animation: fadeIn 0.5s linear;
}

#todo-list li button {
  background: transparent;
  border: 0;
  outline: 0;
  margin-left: 200px;
  cursor: pointer;
}

input::placeholder {
  color: #ecf0f1;
}

#weather {
  font-size: 1.2rem;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  justify-content: left;
}

#weather i {
  position: absolute;
  transform: translate(-60px, 0.25rem);
  font-size: 2.5rem;
}

#weather span {
  display: block;
}

#main {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 150px;

  margin-bottom: 0;
  animation: tiltdown 0.5s linear;
}

#today-info {
  animation: tiltdown 0.5s linear;
}

#greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 50px;
  margin-top: 2%;
}

#greeting #greeting-message {
  position: absolute;
  transform: translateY(-17.5rem);
  font-size: 38px;
  animation: fadeIn 1s linear;
}

#greeting #username {
  font-weight: bold;
  animation: fadeIn 1s linear;
}

#login-form {
  margin-top: 4%;
  animation: fadeIn 1s linear;
}

#logout-btn {
  font-size: 18px;
  margin-top: 1%;
  background: transparent;
  border: 0;
  outline: 0;
  color: #ecf0f1;
  cursor: pointer;
  border-bottom: 2px solid #ecf0f1;
  animation: fadeIn 1s linear;
}

input {
  border: none;
  background: transparent;
  font-size: 22px;
  margin: 3px;
  color: #ecf0f1;
  border-bottom: 2px solid #ecf0f1;
}

#quote {
  transform: translateY(12.5rem);
  margin-bottom: 0;
  animation: tiltup 0.5s ease-in-out;
  text-align: center;
  display: block;
}

#quote span:nth-child(1) {
  display: block;
  font-size: 1.5rem;
}

#quote span:nth-child(2) {
  display: block;
  font-size: 1rem;
}

#quote span:nth-child(3) {
  display: block;
  font-size: 0.75rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bgFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes slide_up {
  0% {
    height: 500px;
  }
  100% {
    height: 0px;
  }
}

@keyframes slide_up2 {
  0% {
    height: 445px;
  }
  100% {
    height: 0px;
  }
}

@keyframes slide_down {
  0% {
    height: 0px;
  }
  100% {
    height: 500px;
  }
}

@keyframes slide_down2 {
  0% {
    height: 0px;
  }
  100% {
    height: 445px;
  }
}

@keyframes tiltup {
  0% {
    transform: translateY(230px);
    opacity: 0;
  }
  100% {
    transform: translateY(200px);
    opacity: 1;
  }
}

@keyframes tiltdown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
